* {padding: 0; margin: 0}


nav .Kiri ul li {float: left; list-style: none; background: white;}
nav .Kiri ul li a {text-decoration: none; margin: 15px; color: black}

nav .Kiri ul a img {float: left; margin: 20px 150px 0 40px;}

nav .Kiri ul li ul {display: none;}

nav {position: fixed; top: 0; background: white; height: 80px; line-height: 80px; border-bottom: 1px solid black; width: 100%;}
nav .Kiri ul li ul {position: absolute;}

nav .Kiri ul li ul li {float: none; position: relative;}

nav .Kiri ul li:hover ul {display: block; line-height: 50px;}

nav .Kiri ul li a:hover {color: rgb(104, 244, 240);}


nav .Kanan a {float:right; margin-left: 20px; text-decoration: none; color: black;}
nav .Kanan a img {width: 15px;}

nav .Kanan .search img {width:30px; position: relative; top: 10px; padding: 0 25px;}
nav .Kanan .search a {display: block}
nav .Kanan .search a:hover {background-color: red;}
nav .Kanan img:hover {background-color: red;}

.gambarutama {background-image: url("image/1.jpg");background-size:cover;background-position: center;width: 100%;height: 600px;float: left;}

.gambarutama .gambar .Text1{width:1200px;text-align:center;margin: 150px auto 0 auto ;}
.gambarutama .gambar .Text1 h1 {font-size: 200px;color: #ffffff;font-family:Brush Script MT;}

.gambarutama .gambar .keterangan {width:1100px;text-align:center;margin: 10px auto 0 auto ;}
.gambarutama .gambar .keterangan p {font-size: 20px;color: #ffffff;}

.gambarutama .gambar .tombol {width:100px;height: 70px;background-color: #00cec9;margin: 10px auto 0 auto ;text-align: center;}
.gambarutama .gambar .tombol a {text-decoration: none;color: #ffffff; line-height: 70px;}

.gambar .tombol:hover{background: red;color: white;}
  





.klom1 {float:left;background: #00002c;width: 100%;overflow: hidden;height: 100px;}

.where {width: 1000px;overflow: hidden;background:#00002c;margin: auto;overflow: hidden;}

.where h1 {color: white;float: left;margin-top: 40px;font-size: 20px;}

.where  input[type=text],[type=date]{width: 100px;height: 25px;padding: 10px;margin-left: 30px;margin-top: 25px;background: #00002c;border: 1px solid white;color: white;font-size: 12px;border-radius: 10px;position: relative;}
.satu.dua::-webkit-input-placeholder{color: white;font-size: 12px;}

.where  select{width: 120px;height: 50px;padding: 10px;margin-left: 25px;margin-top: 25px;background: #00002c;border: 1px solid white;color: white;font-size: 12px;border-radius: 10px;}

.where  a {text-decoration:none; padding:20px 40px;margin-left:50px;color: white;font-size: 12px;background: red;border-radius: 10px;}

.where  a:hover{background:aqua;}








.isi {width: 100%;background:white;margin-top:200px;overflow: hidden;}
.isi .ket  {width:550px;color:black;text-align:center;margin:auto;}
.isi .ket h3{color :#343a40}





.PD {width: 100%; height: 800px;overflow: hidden;float: left;margin-top:400px;}
.PD .foto {float: left;margin-left: 20px;margin-top: 13px;}
.PD .atas {width: 1200px; margin:auto;}
.PD .bawah {width: 1200px;margin: auto;}

.foto {position: relative;}

.foto .keterangan .judul {position: absolute;width: 20%;height: auto;bottom: 15%; left: 10%;font-size:20px;color: white;} 

.foto .keterangan .jumlah  {position: absolute;width: 22%;height: 25px;background-color: aquamarine;border-radius: 9px;bottom: 15%; left: 35%;color: white;text-align: center;}

.PD .foto:hover {transform: translate(0, -10px); transition: 0.5s;}
.PD .foto:hover .keterangan .judul {color: #FF4A52;}
.PD .foto:hover .keterangan .jumlah {background-color: #FF4A52;}
.PD .foto:not(:hover) {transition: 0.5s;}




.Sub {float: left; width: 100%; background-image: url("image/vew.jpg"); background-size: cover; background-position: center; overflow: hidden;}
.Subs {margin: 50px auto; max-width: 1100px; overflow: hidden;}
.Subs .isi {float: left; max-width: 350px; margin: 0 60px;background: none;}
.Subs .isi h2 {padding-bottom: 15px;}
.Subs .isi h4 {color: #7E97AF; line-height: 25px;}

.Subs .email {float: left; margin: 20px 0 0 10px;}
.Subs .email input[type=text] {height: 50px; width: 300px; border: 1px solid white; border-radius: 5px; padding: 0 15px; margin: 0 10px 10px 0;}

.Subs button[type=submit] {width: 120px; height: 50px; border-radius: 5px; color: white; background-color: #FF4A52; font-size: 15px; cursor: pointer; border: none; font-weight: bold;}
.Subs button[type=submit]:hover {background-color: #1EC6B6;transition: background 0.5s ease-in-out;}





.PP {width: 100%;background:white;overflow: hidden;height: 200px;margin-top: 1200px;}
.PP .ket2  {width:550px;color:black;text-align:center;margin:auto;}
.PP .ket2 h3{color :#343a40}

  



.Popular_Place {width: 100%;margin-top: 100px; background-color:white;float: left;overflow: hidden;}
.Popular_Place .galeri {margin: auto; width: 1100px;height:700px;}
.Popular_Place .foto {float:left;margin:25px;margin-left: 40px; background:rgb(226, 218, 218);border-radius: 5%;height: 260px;}
.Popular_Place img {position: relative; width: 300px;}
.Popular_Place .foto  {margin-bottom: 15px;}


.Popular_Place .foto .judul {color:black;margin-left: 10px;margin-bottom: 5px;margin-top: 10px;}
.Popular_Place .foto .USA {margin-left: 10px;}
.Popular_Place .foto img {border-radius: 5%;}
.Popular_Place .foto .penyatu .rat img {width :70px;float: left;}
.Popular_Place .foto .penyatu .rat a {text-decoration: none;color: black;}
.Popular_Place .foto .penyatu .clock img {width :20px;float: left;}
.Popular_Place .foto .clock a {text-decoration: none;color: black;}
.Popular_Place .foto .harga  {position: absolute;width: 22%;height: 10%;background-color: aquamarine;border-radius: 15px;bottom: 75%; left: 5%;color: white;text-align: center;}

.Popular_Place .foto:hover .judul {color: #FF4A52;}
.Popular_Place .foto:hover .harga {background-color: #FF4A52;}




.MP {width: 100%;overflow: hidden;;background:white;height: 30px;margin-bottom: 50px;}
.MP .mp {width:100px;margin:auto;background: red;padding: 5px 20px;border-radius: 5%;}
.MP .mp a{font-size: 20px;text-decoration: none;color:white;text-align: center;}
.MP .mp:hover {background: aqua;}



.EV {width: 100%;height:600px;background-image: url("image/hutan.jpg");float: left;background-position: center;background-size: cover;}


.EV .gambar .enjoy {width:1100px;text-align:center;margin: 150px auto 0 auto ;}
.EV .gambar .enjoy h1 {font-family:Brush Script MT;font-size: 60px;text-align: center;}

.EV .gambar .play {bottom: 35%;left:48%;background-color: #00cec9;width: 80px;height: 80px;text-align: center;border-radius: 100%;padding-top: 50px;margin: 100px auto 0 auto;}
.EV .gambar .play img {width: 20px;height: 20px;}


.clt {width:100%; float: left;overflow: hidden;background:white;margin-top: 20px;}
.clt .as {width: 1100px; height:300px;margin: auto;overflow: hidden;background:white;}
.clt .as .a1 {width: 250px;float:left;margin-left:100px;}
.clt .as .a2 {width: 250px;float:left;margin-left:100px;margin-top: 20px;}
.clt .as .a3 {width: 250  px;float:left;margin-left:100px;}
.clt .as  {text-align: center;}
.clt .as p {color:#343a40}
.clt .as img {width: 150px;}



.mic {width: 100%;height: 170px;float: left;background: white;overflow: hidden;margin-top: 50px;margin-bottom: 100px;}
.mic .sld {width: 100%;margin: auto;overflow: hidden;text-align: center;position: relative;height: 105px;}

.mic .sld .petik {position:absolute;background-color: #00cec9;width: 35px;height: 35px;border-radius: 100%;text-align: center;font-size: 20px;right: 47%;bottom:20%;color: #ffffff;}

.mic .word {margin: auto;;text-align: center;}
.mic .word p {font-size: 10px;margin-top: 5 px;}
.mic .sld h4 {font-size: 10px;color:grey;margin-top: 10px;}
.mic .sld img {width: 75px;}


.RT {float:left;width: 100%; height: 400px;overflow: hidden;background-color:none;}

.RT .gambar {width:1150px;height:400px;margin:auto;background: #ffffff;}

.RT .gambar .judul h2 {text-align: center;}

.RT .gambar img {width:300px;border-radius: 2%;}

.RT .gambar .galeri {margin:auto;}

.RT .gambar .g {float: left;margin-left: 20px;padding:27px;}

.RT .gambar p {font-size: 10px;}
.RT .gambar a{font-size: 15px;text-decoration: none;color:black;}

.RT .gambar .g:hover a{color: red;}



footer {float: left; color:#ffffff; background: #00002c;  width:100%; overflow: hidden;}
footer a {color: #ffffff;}
footer h2 {font-size: 24px;margin-bottom:40px ;}
footer a {margin-bottom: 30px;font-size: 14px;text-decoration: none;}
footer a:hover {color:red;}



footer .footeratas {width: 1100px; background:#00002c; margin: auto; overflow: hidden;}
footer .footeratas .colom1 img h2 {padding-bottom: 30px;width: 40px;}
footer .footeratas .colom1{width:250px;margin:100px 50px;float:left;position:relative;} 
footer .footeratas .colom1 a img {width:30px;margin-right: 5px; margin-top: 40px;}
footer .footeratas .colom1 a img:hover {background-color: red;}
footer .footeratas .colom1 h4 {margin-bottom: 10px;}
footer .footeratas .colom1 h4:hover{color: red;}

footer .footeratas .colom2 {float: left;margin:100px 40px;}



footer .footeratas .colom3 {float:left;width:210px;margin:100px 40px;}
footer .footeratas .colom3 .colom3kiri {float:left;}
footer .footeratas .colom3 .colom3kanan {float:right;}



footer .footeratas .colom4 {float:left;margin:100px 40px;}
footer .footeratas .colom4 img {border-radius: 10%;width: 60px;}



footer .footerbawah {color:#ffffff;text-align:center;height:50px;line-height:50px;width:1100px; background: #00002c; margin: auto;}
footer .footerbawah a {color:red;font-size: 20px;}

footer .footerbawah {border-top: 1px solid white;}
